.navLink {
    padding: 1.2em;
    border-radius: 100px;
    height: 1.1em;
    width: 1.1em;
    box-shadow: 2px 2px 8px rgb(0, 6, 22);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.3s ease-in-out;
    background: white;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.navLink::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 4px solid var(--color-primary-blue, rgb(9, 59, 116));
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.navLink:hover::before {
    transform: scale(1);
}

.navLink:hover {
    transform: translateY(-8px) scale(1.1);
    box-shadow: 0 10px 25px rgba(102, 126, 234, 0.4);

}


.navLinkActive {
    transform: translateY(-8px) scale(1.1);
    box-shadow: 0 10px 25px rgba(102, 126, 234, 0.4);
    background-color: var(--color-primary-blue, rgb(9, 59, 116));
}

.navLinkActive::before {
    transform: scale(1) !important;
    border-color: white;
}

.navLink img {
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}