:root {
  --color-text-light: #F0F0F0;
}

.headerContainer {
    display: flex;
    top: -50px;
    padding: 0 40px;
  position: relative; 
  z-index: 50; 
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  min-height: 350px;
}

.dynamicTitle {
  font-size: 2rem; 
  font-weight: 900; 
  color: var(--color-text-light);
  margin-top: 100px;
  width: 90%;
  padding: 0;
}